[submodule "www/pyrocms"]
	path = www/pyrocms
	url = git://github.com/pyrocms/pyrocms.git
[submodule "modules/php"]
	path = modules/php
	url = git://github.com/philsturgeon/puppet-php.git
[submodule "modules/sqlite"]
	path = modules/sqlite
	url = git://github.com/puppetlabs/puppetlabs-sqlite.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git://github.com/akumria/puppet-postgresql.git